

<h3>Product Details</h3>


<h5 *ngIf="showProd.qty != '0' " style="text-align:center; color:red;">TO DELETE QTY MUST BE 0!!!</h5>

<table class="table table-striped" >
        <thead >
          <tr>
            <th scope="col">Name:</th>
            <th scope="col">Qty: </th>
            <th scope="col">Price:</th>
            <th scope="col">Actions:</th>


          </tr>
        </thead>
        <tbody >
          <tr>
            <td>{{showProd?.name}}</td>
            <td>{{showProd?.qty}}</td>
            <td>${{showProd?.price}}</td>

            <td>               
              <!-- <button *ngIf="!isLiked" (click)="likeCount(showProd._id)" class="btn btn-warning">Back</button>
              <button *ngIf="isLiked" class="btn btn-secondary">Back</button> -->
              <a   class="btn btn-warning text-white " [routerLink] = "['']" style="margin-left: 15px;">Back</a>
              <button (click)="onDelete(showProd._id)" class="btn btn-danger  text-white" [disabled]="showProd.qty != '0' "  style="margin-left: 15px;" >Delete</button>
            </td>
          </tr>
    
        </tbody>
      </table>
